@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

a {
  text-decoration: none;
}

header {
  background-color: #d8f0d3;
  color: rgb(0, 0, 0);
  padding: 20px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header h1 {
  font-size: 24px;
  margin-right: 30px;
  flex: 1;
}

header .logo img {
  max-width: 100px;
  height: auto;
  border-radius: 50%;
}

.menu-icon i {
  width: 30px;
  cursor: pointer;
  display: none;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 15px;
}

.menu li {
  padding: 10px;
}

.menu li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: bold;
}

.menu li a:hover {
  text-decoration: underline;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
  padding: 0;
  margin: 0;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

header nav ul li a:hover {
  text-decoration: underline;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #fff;
  padding: 5px 10px;
  border-radius: 50px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.search-bar input {
  border: none;
  outline: none;
  padding: 8px 15px;
  font-size: 14px;
  border-radius: 50px;
}

.search-bar button {
  background: #4b2e1d;
  color: white;
  border: none;
  padding: 5px 15px;
  border-radius: 50px;
  cursor: pointer;
}

.about-container {
  background: url('../assets/img/hero3.jpg') center/cover no-repeat;
  text-align: center;
  color: white;
  padding: 100px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about-acenfi {
  background: rgba(255, 255, 255, 0.8);
  padding: 60px 20px;
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#about-acenfi h2 {
  font-size: 32px;
  color: black;
  margin-bottom: 20px;
}

#about-acenfi p {
  font-size: 18px;
  line-height: 1.8;
  color: black;
}

#our-team {
  background: #eef7f1;
  padding: 80px 20px;
  text-align: center;
}

#our-team h2 {
  font-size: 32px;
  color: black;
  margin-bottom: 20px;
}

.leadership {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.leader {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 280px;
}

.leader img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.leader h3 {
  font-size: 20px;
  color: black;
  margin-bottom: 10px;
}

.leader p {
  font-size: 16px;
  color: black;
  margin-bottom: 10px;
}

.read-more {
  text-decoration: none;
  color: #004080;
  background: #afa89f;
  padding: 8px 15px;
  border-radius: 5px;
  display: inline-block;
  font-size: 14px;
}

.read-more:hover {
  background: #65ff98;
  color: black;
}

#company-history {
  background-color: #fff;
  padding: 40px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

#company-history h2 {
  font-size: 28px;
  color: black;
  margin-bottom: 20px;
}

#company-history p {
  font-size: 16px;
  color: black;
  line-height: 1.6;
  margin-bottom: 20px;
}

#company-history img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#our-collaborators {
  background: white;
  padding: 80px 20px;
  text-align: center;
}

#our-collaborators h2 {
  font-size: 32px;
  color: black;
  margin-bottom: 20px;
}

#our-collaborators p {
  font-size: 18px;
  line-height: 1.8;
  color: black;
}

#our-values {
  background: #eef7f1;
  padding: 80px 20px;
  text-align: center;
}

#our-values h2 {
  font-size: 32px;
  color: black;
  margin-bottom: 20px;
}

#our-values p {
  font-size: 18px;
  line-height: 1.8;
  color: black;
  max-width: 900px;
  margin: 0 auto;
}

#our-values ul {
  list-style: none;
  padding: 0;
  max-width: 900px;
  margin: 20px auto;
  text-align: left;
}

#our-values ul li {
  background: white;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 18px;
  color: black;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#our-values ul li strong {
  color: black;
  font-weight: bold;
  font-size: 16px;
}

.team-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.team-member {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 280px;
  transition: transform 0.3s ease;
}

.team-member:hover {
  transform: translateY(-5px);
}

.team-member img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.team-member h3 {
  font-size: 20px;
  color: black;
  margin: 10px 0;
}

.team-member p {
  font-size: 16px;
  color: black;
}

.team-member .read-more {
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
  margin-top: 10px;
}

.team-member .read-more:hover {
  text-decoration: none;
}

#cta-section .cta-container {
  background: #004080;
  color: white;
  text-align: center;
  padding: 40px 20px;
  border-radius: 10px;
  margin-bottom: 10vh;
}

.cta-buttons {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

#cta-section .cta-button {
  background: white;
  color: #004080;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

#cta-section .cta-button:hover {
  background: #65e8ff;
  color: #004080;
}

footer {
  background: #d8f0d3;
  color: rgb(0, 0, 0);
  padding: 40px 20px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

footer .footer-content {
  display: flex;
  justify-content: space-around;
}

footer .footer-left h3,
footer .footer-middle h3,
footer .footer-right h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-middle {
  margin-left: 2%;
}

footer .footer-left p,
footer .footer-middle ul,
footer .footer-right form,
footer .footer-right .social-links {
  font-size: 14px;
}

footer .footer-middle ul {
  list-style: none;
  padding: 0;
}

footer .footer-middle ul li {
  margin-bottom: 8px;
}

footer .footer-middle ul li a {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

footer .footer-middle ul li a:hover {
  text-decoration: underline;
}

footer .footer-right form {
  display: flex;
  gap: 10px;
}

footer .footer-right input {
  padding: 8px;
  border-radius: 5px;
  border: none;
  width: 200px;
}

footer .footer-right button {
  background-color: #65e8ff;
  color: #004080;
  padding: 8px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

footer .footer-right .social-links {
  margin-top: 20px;
}

footer .footer-right .social-links a {
  color: rgb(0, 0, 0);
  margin-right: 15px;
  font-size: 18px;
}

footer .footer-right .social-links a:hover {
  text-decoration: underline;
}

footer .footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #6e6e6e;
}

footer .footer-bottom a {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

footer .footer-bottom a:hover {
  text-decoration: underline;
}

/* Large devices (desktops) */
@media (min-width: 1024px) {
  header .container {
    padding: 0 40px;
  }

  header nav ul {
    gap: 25px;
  }

  .cta-buttons {
    justify-content: space-around;
  }

  footer .footer-content {
    justify-content: space-between;
  }

  footer .footer-left,
  footer .footer-middle,
  footer .footer-right {
    width: 30%;
  }
}

@media (max-width: 1024px) {
  header .container {
    flex-direction: column;
    text-align: center;
  }

  header h1 {
    margin-bottom: 20px;
  }

  header nav ul {
    display: block;
    margin: 20px 0;
  }

  .search-bar {
    position: relative;
    top: auto;
    right: auto;
    margin-top: 10px;
  }

  .cta-buttons {
    flex-direction: column;
    gap: 15px;
  }

  footer .footer-content {
    flex-direction: column;
    align-items: center;
  }

  footer .footer-left,
  footer .footer-middle,
  footer .footer-right {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  header .container {
    padding: 0 20px;
  }

  header h1 {
    font-size: 20px;
  }

  header .logo img {
    max-width: 80px;
    margin-left: -300px;
  }

  .menu {
    display: none;
    flex-direction: column;
    background: #d8f0d3;
    position: absolute;
    top: 60px;
    right: 0;
    width: 180px;
    border-radius: 15px;
    padding: 10px;
  }

  .menu.active {
    display: flex;
  }

  .menu-icon i {
    display: block;
    margin-left: 500px;
    margin-top: -25px;
  }

  header nav ul {
    gap: 10px;
  }

  header nav ul li a:hover {
    text-decoration: underline;
  }

  .cta-container {
    padding: 20px 10px;
  }

  .team-container {
    flex-direction: column;
  }

  footer .footer-content {
    flex-direction: column;
  }

  footer .footer-left,
  footer .footer-middle,
  footer .footer-right {
    width: 100%;
  }
}

@media (max-width: 480px) {
  header .logo img {
    max-width: 60px;
    margin-left: -150px;
  }

  .menu {
    display: none;
    flex-direction: column;
    background: #d8f0d3;
    position: absolute;
    top: 50px; /* Adjusted for smaller screens */
    right: 0; /* Less margin on smaller screens */
    width: 160px; /* Slightly smaller width */
    border-radius: 10px;
    padding: 8px;
  }

  .menu.active {
    display: flex;
  }

  .menu li {
    padding: 8px;
    text-align: center; /* Center text for smaller screens */
  }

  .menu li a {
    font-size: 14px; /* Reduce font size for better fit */
  }

  .menu-icon {
    display: block;
  }

  .menu-icon i {
    width: 25px; /* Smaller icon for compact UI */
    margin-left: 300px;
    margin-top: -32px;
  }

  header h1 {
    font-size: 18px;
  }

  header nav ul li a {
    font-size: 14px;
  }

  header nav ul li a:hover {
    text-decoration: underline;
  }

  .cta-button {
    padding: 8px 15px;
    font-size: 14px;
  }

  footer .footer-content {
    padding: 0 15px;
  }

  footer .footer-right input {
    width: 100%;
  }
}
